---
import type { LinkField, Header } from '@repo/cms'
import { getHeaderGlobals } from '@/api'
import Link from './Link.astro'
import InlineSvg from './InlineSvg.astro'

const headerData = (await getHeaderGlobals()) as Header
const { tabs, ctas } = headerData
---

<header>
  <a href="/">
    <InlineSvg name="logo" />
  </a>
  <nav>
    {
      tabs?.map(({ label, type, link, dropdownLinks }) => {
        switch (type) {
          case 'dropdown':
            return (
              <details>
                <summary>{label}</summary>
                <ul class="dropdown">
                  {dropdownLinks?.map(({ link }) => (
                    <li>
                      <Link {...(link as LinkField)} />
                    </li>
                  ))}
                </ul>
              </details>
            )
          case 'directLink': {
            return <Link {...(link as LinkField)} />
          }
        }
      })
    }
    <div>
      {ctas?.map(({ link }) => <Link {...(link as LinkField)} />)}
    </div>
  </nav>
</header>

<style>
  header {
    align-items: center;
    background-color: #111;
    color: white;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    a {
      color: #fff;
    }
  }

  nav {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: ''; /* preserve list semantics */
    flex-grow: 1;

    div {
      align-items: center;
      display: flex;
      gap: 1rem;
      margin-inline-start: auto;
    }
  }

  summary {
    cursor: pointer;
    user-select: none;
  }

  .dropdown {
    background: #555;
    list-style: none;
    padding: 0.5rem;
    position: absolute;
  }
</style>
