---
const { appearance, label, newTab, reference, type, url } = Astro.props
const href =
  type === 'reference' &&
  typeof reference?.value === 'object' &&
  reference.value.slug
    ? `${reference?.relationTo === 'posts' ? '/blog' : ''}/${reference.value.slug}`
    : url
const newTabProps = newTab
  ? { rel: 'noopener noreferrer', target: '_blank' }
  : {}
---

<a
  href={href}
  {...newTabProps}
  class:list={[
    {
      primary: appearance === 'primary',
      secondary: appearance === 'secondary',
    },
  ]}
>
  {label}
</a>

<style>
  .primary {
    border: 2px solid var(--theme-color);
    border-radius: 9em;
    padding: 0.5rem 1rem;
  }

  .secondary {
    border: 2px solid color-mix(in srgb, var(--theme-color), transparent 50%);
    border-radius: 9em;
    padding: 0.5rem 1rem;
  }
</style>
