# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea/*
!/.idea/runConfigurations

# testing
/coverage

# next.js
/.next/
/out/

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

/media
