---
import type { Page } from '@repo/cms'

import { getPageCollection } from '@/api'
import Layout from '@/layouts/Layout.astro'

interface Props {
  post: Page
}

export async function getStaticPaths() {
  const posts = await getPageCollection()

  return posts.docs.map((post: Page) => {
    return {
      params: { slug: post.slug },
      props: { post },
    }
  })
}

const { post } = Astro.props
const { title, meta } = post
---

<Layout {...meta}>
  <h1>{title}</h1>
</Layout>
