---
import type { Page } from '@repo/cms'

import { getPageCollection } from '@/api'
import Layout from '@/layouts/Layout.astro'
import PageBlocks from '@/components/PageBlocks.astro'

interface Props {
  page: Page
}

export async function getStaticPaths() {
  const pages = await getPageCollection()

  return pages.docs.map((page: Page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    }
  })
}

const { page } = Astro.props
const { title, layout, meta } = page
---

<Layout {...meta}>
  <h1>{title}</h1>
  <PageBlocks blocks={layout} />
</Layout>
