---
import '@/styles/styles.css'
import BaseHead, { type Props as HeadProps } from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

interface Props extends HeadProps {}

const { ...head } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <Header />

    <main id="content" role="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>
